.TextField{
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
}

.Change{
    justify-content: center;
}

.editableinput{
    text-align: center;
    width:130%;
    /* padding-left: 0.25em; */
    /* background-color: yellow; */
    /* font-size: 16px; */
    transform: scale(1.5, 1.5);
    border: none;
    outline: none;
    /* padding-left: 0.25em; */
    color:var(--mainPurple);
}