.form {
  /* padding-top: 400px; */
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  /* width: 100%; */
  width: 50%;
  /* background-color: #ccc; */
}

.sub-form {
  /* padding-top: 400px; */
  /* max-width: 800px;
  margin: 0 auto;
  display: flex;*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  /* background-color: #e1e; */
}


.form-container {
  /* background-color: #333; */
  height: 90vh; /* change from 100% to 100vh */
  /* width: 10vw;  */

  padding-top: 2%;
  display: flex;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  /* border: none; */
  font-size: 16px;
  cursor: pointer;
}


/* .input {
  width: 300px;
} */
  
.form-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  width: 600px;
  /* max-width: 600px; */
  margin-bottom: auto;
  /* background-color: #333; */
  
}
  
.form-group {
  margin-bottom: 20px;
  /* width: 100%; */
}
  
.form-group label {
  display: block;
  margin-bottom: 5px;
}
  
.form-group input {
  /* width: 400px; */
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
  
.form-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
  
.form-navigation button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
  
.form-navigation button.active {
  background-color: #333;
  color: #fff;
}
