.navigation-container {
  /* position: absolute; */
  /* left: 0; */
  width: 30%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
  /* padding-top: 3%; */
  /* background-color: #30f; */
}

.sticky {
  position: sticky;
  top: 0;
}

.navigation-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
  width: 100%; /* Add this line to make the navigation steps take the full width */
}

.navigation-steps > * {
  margin: 10px;
  width: 100%; 

}

/* Add the following CSS to make the tocItem fill the available space */
.tocItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ff0;
}
