:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainPurple: #18ab1b;
  --highlightedPurple: #6600ff13;
}

.highlightedRow {
  background-color: var(--highlightedPurple);
}

.mapPanel {
  background-color: var(--highlightedPurple);
}

.App {
  text-align: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #555;
}
input[type="checkbox"]:checked {
  background: rgb(24, 24, 29);
}

.loader {
  position: absolute;
  top: 38%;
  left: 42%;
  /* margin-top: -60px;
  margin-left: 100px; */
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid var(--mainPurple);
  width: 220px;
  height: 220px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10%;
  padding-bottom: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.editablecell:hover {
  color: var(--mainPurple);
  transform: scale(1.5, 1.5);
  transition: transform 0.2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
